/*======================================*/
/*リセット*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*スマホ*/
@media(max-width: 767px){
    .sp{
        display: block;
    }
    .pc{
        display: none;
    }
}

/*タブレット*/
@media(max-width: 1023px){
    main{
        .char{
            .text-wrap{
                position: relative;
                .sp{
                    display: block;
                }
                .tab{
                    display: none;
                }
                .text-wrap2{
                    position: absolute;
                    top: 0px;
                    width: 600px;
                    

                    h1{
                        font-size:  32px;
                        line-height: 36px;
                        letter-spacing: -1px;
                    }
                }
            }
        }

        .contents{
            .title{
                p{
                    font-size: 22px;
                }

            }
            .item-wrap{
                .item{
                    width: 136px;
                    height: 307px;
                    img{
                        width: 100%;
                        height: 159px;
                    }
                    .char-wrap{
                        height: 148px;
                        p{

                        }
                    }
                }
            }
        }
    }
}
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    text-rendering: auto;
    position: relative;
    background-color: white;
}

li {
    list-style: none;
}

img {
    // max-width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active, a:focus {
    color: #222222;
    outline: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: 0;
}

.main {
    margin: auto;
}

.screen-reader-text{
    display:none;
  }
  
/*=========================*/


a{
    text-decoration: none;
    color: white;
    border-color: #3c4043;
}

header{
    display:flex;
    background-color: #ffffff;
    padding:0px 20px;
    height: 56px;

    .left{
        display:flex;
        align-items: center;
        svg{
            width:134px;
            height:48px;
        }
        .item-wrap{
            display: flex;
            p{
                font-size:14px;
                margin: 0px 0px 0px 20px;
                // padding: 5px 0px 0px;
                color: #3C4043;
                font-family: 'Google Sans',Arial,sans-serif;  
            }
            span{
                width: 5px;
                height: 5px;
                border: 2px solid;
                border-color: #565656 #565656 transparent transparent;
                transform: rotate(135deg);
                margin-left: 10px;
            } 
        }
        
        h1{
            display: flex;
            
            p{
                margin-right: 15px;
            }
        }
    }

    .right{
        
        display: flex;
        margin:0 0 0 auto;

        .img-wrap{
            padding: 15px;
            img, svg{
                width: 24px;
                height: 24px;
            }
            img{
                border-radius: 50%;
            }
        }
    }
}

main{
    
    .char{
        .text-wrap{
            background-image: url("");
            width: 100%;
            min-height: 600px;
            position: relative;
            display: flex;
            text-align: center;
            background-color: violet;
            video{
                height: 100%;
                width: 100%;
                min-width: 800px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            .text-wrap2{
                position: absolute;
                top: 50px;
                left: 80px;
                right: 600px;
                bottom: 50px;
                font-size: 56px;
                display: flex;
                flex-direction: column;
                
                min-width: 270px;
                max-height: 333px;
                h1{
                    font-size: 56px;
                    letter-spacing: -2px;
                    line-height: 60px;

                }
                
        
                h2{
                    margin:16px 0px 0px;
                    font-size: 16px;
                }
                    
                
    
                .button{
                    width: 183px;
                    height: 40px;
                    margin: auto;
                    a{
                        background-color: yellow;
                        border-radius: 20px;
                        display: block;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        line-height: 50px;
                        font-size: 16px;
                        align-items: center;
                        line-height: 40px;
                    }
                }

            }
        }
    }

    .contents{
        .title{
            text-align: center;
            font-size: 32px;
            margin-bottom: 60px;
            
            p{
                font-size: 32px;
                font-weight: 600;
                padding-top: 80px;
            }
        }
        .item-wrap{
            padding: 0px 12px;
            display: flex;
            
            .item{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                img{
                    
                    width: 350px;
                    height: 512px;
                }
                .char-wrap{
                    width: 198px;
                    height: 124px;
                    padding: 20px 20px 0;
                    justify-content: space-between;
                    .name{
                        font-size: 17px;
                        width: 198px;
                        height: 28px;
                        margin-bottom: 50px;
                    }
                    .price{
                        font-size: 12px;
                        height: 20px;
                        width: 198px;
                        height: 28px;
                    }
                }
                
            }
        }
    }

    .contents2{
        padding: 0px 24px;
        .title{
            text-align: center;
            height: 88px;
            p{
                font-size: 32px;
                font-weight: 400;
                padding-top: 40px;
            }
        }

        .item-body{
            
            display: flex;
            flex-wrap: wrap;
            
            justify-content: center;
            .item-wrap{
                width: 325px;
                height: 608px;
                //padding: 24px 24px;
                margin-left: 24px;
                margin-bottom: 24px;
                background-color: #F8F9FA;

                .item{
                    p{
                        text-align: center;
                    }

                    .link{
                        
                        width: 316.33px;
                        height: 755.63px;
                    }
                    .button{
                        height: 50px;
                        width: 100px;
                        border-radius: 20px;
                        //margin-left: 200px;
                        margin: auto;
                        a{
                            background-color: violet;
                            border-radius: 20px;
                            display: block;
                            height: 100%;
                            width: 100%;
                            text-align: center;
                            line-height: 50px;
                        }
                    }

                    img{
                        width: 100%;
                    }
                }
            }

        }
    }

    .contents3{
        height: 150px;
        width: 580px;
        margin: auto;
        text-align: center;
        .text{
            font-size: 43px;
        }
    }

    .contents4{
        text-align: center;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 0 30px;
    .left{
        display: flex;
        .img-wrap{
            display: flex;
            padding: 10px;
            align-items: center;
            svg{
                height: 20px;
                width: 20px;
                
            }
        }
    }

    .right{
        ul{
            display: flex;
            li{
                font-size: 11px;
                list-style: none;
                margin-left: 10px;
                a{
                    color: black;
                    text-decoration: none;
                    &:hover{
                        color: blue;
                    }
                }
            }

        }
    }
}
