a {
  text-decoration: none;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  padding: 0px 20px;
  height: 56px;
}

header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left svg {
  width: 134px;
  height: 48px;
}

header .left .item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .left .item-wrap p {
  font-size: 14px;
  margin: 0px 0px 0px 20px;
  color: #3C4043;
  font-family: 'Google Sans',Arial,sans-serif;
}

header .left .item-wrap span {
  width: 5px;
  height: 5px;
  border: 2px solid;
  border-color: #565656 #565656 transparent transparent;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-left: 10px;
}

header .left h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .left h1 p {
  margin-right: 15px;
}

header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
}

header .right .img-wrap {
  padding: 15px;
}

header .right .img-wrap img, header .right .img-wrap svg {
  width: 24px;
  height: 24px;
}

header .right .img-wrap img {
  border-radius: 50%;
}

main {
  font-family: 'Google Sans',Arial,sans-serif;
}

main .char a {
  color: #1967d2;
}

main .char .p1 {
  width: 313px;
  height: 240px;
  font-size: 56px;
  line-height: 60px;
  font-family: 'Google Sans',Arial,sans-serif;
}

main .char .p2 {
  margin: 16px 0px 0px;
}

main .contents .title {
  text-align: center;
  height: 36px;
  font-size: 32px;
}

main .contents .title .p1 {
  font-size: 32px;
}

main .contents .item-wrap {
  padding: 0px 24px;
  margin: 0px -802px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contents .item-wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .contents .item-wrap .item img {
  width: 238px;
  height: 279px;
}

main .contents .item-wrap .item .char-wrap {
  padding: 32px 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .contents .item-wrap .item .char-wrap .name {
  width: 198px;
  height: 28px;
}

main .contents .item-wrap .item .char-wrap .price {
  height: 20px;
}

main .contents2 {
  padding: 0px 24px;
}

main .contents2 .title {
  text-align: center;
  height: 88px;
}

main .contents2 .item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: yellow;
}

main .contents2 .item-body .item-wrap {
  padding: 0px 24px;
  margin-left: 24px;
  background-color: indianred;
}

main .contents2 .item-body .item-wrap .item {
  margin: 20px 20px;
}

main .contents2 .item-body .item-wrap .item .link {
  width: 316.33px;
  height: 755.63px;
}

main .contents2 .item-body .item-wrap .item .button {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  margin-left: 200px;
}

main .contents2 .item-body .item-wrap .item .button a {
  background-color: yellow;
  border-radius: 20px;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

main .contents3 {
  background-color: yellowgreen;
  margin: 80px 470px;
}

main .contents3 .text {
  font-size: 48px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  padding: 0 30px;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .left .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .left .img-wrap svg {
  height: 20px;
  width: 20px;
}

footer .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .right ul li {
  font-size: 11px;
  list-style: none;
  margin-left: 10px;
}

footer .right ul li a {
  color: black;
  text-decoration: none;
}

footer .right ul li a:hover {
  color: blue;
}
/*# sourceMappingURL=style.css.map */